.App{
  height: 100vh;
  margin: 0 !important;
  padding: 0 !important;
  text-align: center;
  background-color: black;
  overflow: hidden;
}

.mainContent{
  background-image: url(./images/deepPurple.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

.ToDoContainer{
  padding: 0;
  margin: 0;
  background-image: url(./images/deepPurple.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}